/* Javier Florencio Airado*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

*{
	background-color: #111128b8;
	color: white;
	font-family: 'Red Hat Display', sans-serif;
}

body{
	max-width: 600px;
	margin: 0px auto;
}

header{
	font-size: 33px;
	font-weight: bold;
	font-style: italic;
	background-color: lightblue;
	padding: 20px;
	color: #12122a;
	border-bottom: 2px solid white;
}

nav{
	border-bottom: 2px solid white;
}

nav > div{
	margin: 0px;
	/* background-color: white; */
	display: inline-block;
	font-size: 23px;
	padding: 10px 20px;
	/* border: 2px solid white; */
}

nav > div:hover{
	/* background-color: white; */
	text-decoration: underline;
}

#divBuscador{
	padding: 3px 5px;
	border-bottom: 2px solid white;
	margin-bottom: 15px;
}

#divBuscador > form > input[type="text"]{
	background-color: white;
}

#divPersonajes{
	display: block;
}

#divPersonajes > div{
	display: inline-block;
	width: 195px;
	height: 200px;
	text-align: center;
	border: 1px solid white;
	margin: 2px 0;
}

#divMiniCRUD{
	margin: 10px;
	display: none;
	text-align: center;
}

#divMiniCRUD h1{
	margin: 0;
	text-align: center;
	color: lightblue;
}

#divMiniCRUD input{
	background-color: white;
	padding-left: 5px;
	margin: 5px;
	color: black;
}

#divMiniCRUD  button{
	background-color: lightblue;
	color: black;
	margin: 5px;
}

footer{
	background-color: lightgrey;
	color: black;
	font-size: 12px;
	padding: 7px;
}